h1 {
    color: red;
    text-shadow: 2px 2px black;
    text-shadow:  0 3px #FF0000, 0 0 5px #0000FF;
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.container {

    max-width: 800px;
    background-color: black;
    height: 1000px;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 2px 'red';
    border-radius: 20px;
    padding: 20px;
    display: flex;
}

input {
    height: 15%;
    box-sizing: border-box;
    width: 100%;
    border-top: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    background-color: gray;
    font-size: 80px;
    padding: 20px;
    font-weight: bold;
    text-shadow: 2px 2px white;


}

.output {
    height: 10%;
    background-color: gray;
    width:100%;
    border-bottom: 2px solid red;
    border-left: 2px solid red;
    border-right: 2px solid red;
    padding: 20px;
    box-sizing: border-box;
    font-size: 45px;
}

#ac , #minusplus , #percentage {
    background-color: lightblue;
}

.operator {
    background-color: orange;
}

.number {
    background-color: lightgreen;
}

.buttonContainer {
    display: flex;
    height: 75%;
    width: 100%;
    background-color: black;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 20px;
}

button {
    font-size: 100px;
    height: 20%;
    border-radius: 10px;
    width: 25%;
}

button:nth-of-type(17) {
    width:50%;
}





